//colors
$tcolor: rgb(139, 11, 6); //color for h tags
$bgcolor: complement($tcolor); // color for the background color
$hcolor: #0b6d71;  // color for the background of h tags

//fonts
$hfont: 'Arial'; //header font
$pfont: 'Rubik'; //paragraph font
